html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #232b2b;
}

h1 {
    color: white;
}

.header {
    line-height: 0.8em;
    text-align: center;
}

footer {
    background-color: #3b444b;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-around;
}

.footer-content-left {

}

.footer-content-right {

}

.footer-donate {
    margin-bottom: -10em;
}

.footer-donate img {
    bottom: 120px;
    position: relative;
}

input, select, textarea {
    font-family: inherit;
}

.search-button {
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    padding: 0.9em;
    transition: background 0.2s ease-in;
}

.search-button:hover {
    background: rgba(255,255,255,0.3)
}

.search-bar {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    width: 50%;
    border: 2px solid white;
    border-radius: 40px;
    padding: 0 11px;
    outline: none;
    height: 40px;
    background: transparent;
    color: white;
}

.search-bar::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
}

.search-bar:-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
}

.search-bar:-moz-placeholder {
    font-family: 'Poppins', sans-serif;
}

.search-bar:-moz-placeholder {
    font-family: 'Poppins', sans-serif;
}

.search-form {
    text-align: center;
}

.twitter_icon {
    color:white;
}

.twitter_icon:hover {
    color: #1DA1F2;
}

.info-icon {
    color:grey;
    transform: color 0.2s ease-in;
}

.info-icon:hover {
    color:#2E51A2;
}

.streaming-list {
    text-align: center;
    width: 80%;
    left:10%;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}

.streaming-list .streaming-icon {
    filter: brightness(25%);
    transform: color none;
    color:white;
    font-size: 24px;
    line-height: 24px;
    transform: filter 0.2s ease-in;
}

.streaming-list .streaming-icon:hover {
    filter:brightness(1);
}

.privacy-policy {
    font-size: 0.8em;
    color: white;
    font-weight: bold;
}

.privacy-policy:hover {
    color: #1DA1F2;
}

/* - Thanks to Abhishek Mane */
/* - LINK: https://codepen.io/abhishek747/pen/BbWKVa */

.cards-list {
    z-index: 0;
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    color: rgba(0,0,0,0);
    text-shadow: none;
    transform: text-shadow 0.2 ease-out;
    
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    transform: filter 0.2 ease-in;
  }

  .card .card_image:hover {
      filter: brightness(40%);
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -80px;
    height: 40px;
    pointer-events: none;
  }

  .card:hover {
    text-shadow: -2px 2px 2px black;
    color:white;
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .anime-title {
      text-align: center;
      bottom:120px;
      position: relative;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }

    footer {
        font-size: 0.5em;
    }

    .footer-donate {
        width: 8em;
        height: 5em;
    }

    .footer-donate img {
        transform: scale(0.5);
        right: 8em;
        bottom: 12em;
    }
  }
